# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/
frontend/node_modules
test.eml
dist/
# Ingestion state
backend/ingestion/processed_uids.json
backend/ingestion/ingestion_state.json
